<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="#" method="post">
        <label>Departure From</label>
        <input type="text" value="Moscow" name="from">
        <label>Departure To</label>
        <input type="text" placeholder="where to fly?" name="to">
        <label>Date from</label>
        <input type="date" placeholder="from" value=None name="fly_from">
        <label>Date to</label>
        <input type="date" placeholder="05.02.2022" value="05.02.2022" name="fly_to">
        <button type="submit">Ok</button>
    </form>
</body>
</html>